/*房间列表页*/
.roomList{
    margin: 0 auto;
}
.list-group-item a{
}
.creatRoom{
    margin-top: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
/*房间首页*/
.main-body{
    width: 1200px;
}
.video-wrap{
    float: left;
}
.fan-wrap{
    float: left;
    padding: 5px;
    border: 1px solid #8c8c8c;
}
.fan-wrap .msg-box{
    width: 500px;
    height: 400px;
    overflow-y: scroll;
}
.msg-show-area{
    /*padding: 5px;*/
}
.msg-show-area .msg-item{
    height: auto;
}
.msg-show-area .msg-item .msg-owner{
    padding: 0 5px 0 0;
    max-width: 100px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    font-size: 16px;
    font-weight: 800;
    white-space:nowrap;
    display: inline-block;
    float: left;
}
.msg-show-area .msg-item .msg-content{
    margin-left: 10px;
    float: left;
    max-width: 370px;
    display: block;
    font-size: 14px;
}
.send-msg{
    margin-top: 15px;

}
.send-msg .message{
    width: 430px;
}
.send-msg #send-msg{
    width: 60px;
}
.add-visiter,.leave-visiter{
    font-size: 12px;
    color: #666;
}